include civilTools/RSN139_TABAS_DAY-L1.AT2

recursive-exclude tests *
recursive-include civilTools/applications *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * test_*.py
recursive-include * *.ui *.qm *.png
recursive-exclude docs *
recursive-exclude dist *
